<launch>

  <include file="$(find msf_updates)/launch/optitrack.launch"/>

  <include file="$(find misc_transformations)/launch/optitrack_pose_to_transform_stamped.launch">
      <arg name="optitrack_pose_topic" value="/vrpn_client_node/f550/pose"/>
      <arg name="transform_stamped_topic" value="/f550/pose"/>
  </include>

 <include file="$(find mavros)/launch/px4.launch">
      <arg name="fcu_url" value="/dev/ttyACM0:57600"/>
 </include>
    
 <include file="$(find msf_updates)/launch/mocap_pose_sensor.launch"/>

</launch>
