<launch>

  <arg name="tracker_name" default="f550" />

  <include file="$(find msf_updates)/launch/optitrack.launch"/>

  <include file="$(find misc_transformations)/launch/optitrack_pose_to_transform_stamped.launch">
      <arg name="tracker_name" value="$(arg tracker_name)"/>
  </include>

 <include file="$(find msf_updates)/launch/px4.launch">
      <arg name="namespace" value="$(arg tracker_name)" />
      <arg name="fcu_url" value="/dev/ttyACM0:57600"/>
 </include>
    
 <include file="$(find msf_updates)/launch/mocap_pose_sensor.launch">
      <arg name="namespace" value="$(arg tracker_name)" />
 </include>

</launch>
